<?xml version = "1.0" encoding = "UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app xmlns = "http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation = "http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version = "3.1"
  metadata-complete = "true">

    <description>
      Sistema web para compra de mercadorias
    </description>
    <display-name>App</display-name>

    <servlet>
        <servlet-name>App</servlet-name>
        <servlet-class>server.App</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Caixa</servlet-name>
        <servlet-class>server.controller.Caixa</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Estoque</servlet-name>
        <servlet-class>server.controller.Estoque</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Estoque2</servlet-name>
        <servlet-class>server.controller.Estoque2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Relatorio</servlet-name>
        <servlet-class>server.controller.Relatorio</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Cadastrar</servlet-name>
        <servlet-class>server.controller.Cadastrar</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>server.controller.Editar</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Final</servlet-name>
        <servlet-class>server.controller.Final</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>App</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Caixa</servlet-name>
        <url-pattern>/caixa</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Estoque</servlet-name>
        <url-pattern>/estoque</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Estoque2</servlet-name>
        <url-pattern>/estoque2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Relatorio</servlet-name>
        <url-pattern>/relatorio</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Cadastrar</servlet-name>
        <url-pattern>/cadastrar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/editar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Final</servlet-name>
        <url-pattern>/final</url-pattern>
    </servlet-mapping>
</web-app>